.cliente-form {
    width: 80%;
    height: 100%;

    margin: 4rem 0;

    background-color: var(--bg-container-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cliente-form .form-input--default {
    width: 60%;
} 

.form-input--default {
    color: #FFF;
    padding: 1rem;
    border: 1px solid var(--font-color-gray);
    font-family: var(--font-primary);
    background-color: transparent;

    outline: none;
    box-shadow: none;
}

.cliente-form input::placeholder {
    font-size: 16px;
    color: var(--font-color-gray);
}

.password--container {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.btn-view-password img {
    width: 25px;
    height: 25px;
}