@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-header: #0D0D0D;
    --bg-primary: #24241B;

    --bg-container-primary: #363629;
    --bg-container-secondary: #97974B;

    --font-color-primary: #E8E8E8;
    --font-color-gray: #747474;
    --hover-primary: #FFDD1B;

    --font-primary: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    height: 100%;

    color: var(--font-color-primary);
    background-color: var(--bg-primary);
    font-family: var(--font-primary);
}

a {
    color: var(--font-color-primary);
}

.header {
    padding: .5rem 1rem;
    width: 100%;
    background-color: var(--bg-header);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo-container {
    width: 50%;
}

.navbar {
    width: 30%;
}

.navbar li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.navbar ul a {
    text-decoration: none;
    padding: .5rem;

    transition: .6s all;
    font-size: 20px;
}

.navbar ul a:hover {
    color: var(--hover-primary);
    transform: scale(0.95);
}


.container-title {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    position: relative;

    margin: 2rem 0 3rem 0;
}

.container-title--inner {
    width: 70%;
    background-color: var(--bg-container-primary);
    height: 125px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 10px;
    
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

.container-title--bg {
    width: 70%;
    background-color: var(--bg-container-secondary);
    height: 125px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 8px;
    bottom: 8px;
    
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

.container-title--inner h1 {
    font-weight: 500;

    text-align: center;
}


/* FORMS */

.container-form {
    width: 100%;
    position: relative;
}


.container-form--bg {
    width: 76.5%;
    background-color: var(--bg-container-secondary);
    height: 32rem;

    position: absolute;
    left: 0;
    top: 16px;
    
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
}

.default-form {
    width: 75%;
    height: 32rem;

    padding: 1.5rem;

    background-color: var(--bg-container-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    z-index: 1;
}

.default-form .form-input--default {
    width: 60%;
}

.default-form input::placeholder {
    font-size: 16px;
    color: var(--font-color-gray);
}

.form-input--default {
    width: 100%;
    color: #FFF;
    padding: .8rem;
    border: 1px solid var(--font-color-gray);
    font-family: var(--font-primary);
    background-color: transparent;
    border-radius: 1rem;

    outline: none;
    box-shadow: none;
}


.form-input--submit {
    cursor: pointer;
    transition: 0.4s all;
}

.form-input--submit:hover {
    transform: scale(0.98);
    background: var(--bg-container-secondary);
}

.input-container {
    width: 60%;
    position: relative;
}

.input-container .password-input, .input-container .form-input--cpf {
    width: 100%;
    color: #FFF;
    padding: 1rem;
    border: 1px solid var(--font-color-gray);
    font-family: var(--font-primary);
    background-color: transparent;

    outline: none;
    box-shadow: none;
}

.btn-view-password {
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}

.btn-view-password img {
    width: 25px;
    height: 25px;
}

.error-message {
    display: none;
    color: #ff4545;
}

.container-table {
    width: 100%;
    height: 32rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin: calc(3rem + 10px) 0;
    position: relative;
}

.container-table h3 {
    width: 75%;
    padding: 1rem;
    font-size: 32px;
    text-align: center;
    background-color: var(--bg-container-primary);
    position: relative;
}

.container-table--bg {
    width: 75%;
    height: calc(100% + 32px);
    background-color: var(--bg-container-secondary);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    right: 16px;
    top: 16px;
}

.default-table {
    background-color: var(--bg-container-primary);

    width: 75%;
    height: 100%;

    padding: 1rem;
    position: relative;
}

.default-table thead, .default-table tbody {
    width: 100%;
}

.default-table th, .default-table td {
    border: 1px solid var(--font-color-gray);
    padding: 1rem;
}

.select-input--default {
    width: 100%;
    color: var(--font-color-gray);
    padding: .8rem;
    border: 1px solid var(--font-color-gray);
    font-family: var(--font-primary);
    background-color: transparent;
    border-radius: 1rem;

    outline: none;
    box-shadow: none;

    font-size: 16px;
}

.option--default {
    color: var(--font-color-primary);
    background-color: var(--bg-container-primary);
    font-family: var(--font-primary);
    border: 1px solid var(--font-color-gray);
}
.default-form .select-input--default {
    width: 60%;
}


